// 页面最顶部的横线
.headband {
    height: 0;
}
// 页面背景色
body {
	background-color: #efefee
}
// 站点名背景
.site-brand-container {
    background-color: #683f2a;
}
// 站点名字体
.site-title {
    font-family: 'ZCOOL XiaoWei'
    font-weight: bold;
}
// 侧栏
.sidebar {
    background-color: #f5f4eb;
}
.sidebar-inner {
    background-color: #f5f4eb;
}
// 侧栏目录链接样式
.sidebar-nav .sidebar-nav-active {
    border-bottom-color: #76241a;
    color: #76241a;
}
.sidebar-nav .sidebar-nav-active:hover {
	color: #76241a;
}
.sidebar-nav li:hover {
	color: #76241a;
}
.post-toc ol a {
}
.post-toc ol a:hover {
    color: #76241a;
    border-bottom-color: #76241a;
}
// 侧栏目录链接样式之当前目录
.post-toc .nav .active > a {
    color: #76241a;
    border-bottom-color: #76241a;
}
.post-toc .nav .active > a:hover {
    color: #76241a;
    border-bottom-color: #76241a;
}

// 菜单
.menu {
    margin-top: 0px;
    margin-bottom: 0px;
	padding-top: 1em;
	padding-bottom: 1em
    background-color: #f5f4eb;
}
.menu .menu-item a:hover {
    color: #f5f4eb;
    background-color: #683f2a;
}
.menu-item-active a {
    color: #f5f4eb;
    background-color: #683f2a;
}
// blog 主体背景色
.content-wrap {
    background-color: #f5f4eb
}
// 归档页设定
// 时间轴色带
.posts-collapse::before {
    background-color: #683f2a;
}
// 时间轴写作时间
.posts-collapse .post-meta {
}
// 时间轴文章标题左边圆点颜色
.posts-collapse .post-header:hover::before {
    background-color: #683f2a;
}
// 时间轴文章标题
.posts-collapse .post-title a {
    color: #683f2a;
}
.posts-collapse .post-title a:hover {
    color: #683f2a;
}

// 年份
.posts-collapse .collection-year {

}
//文章内表格设置

.post-body table {
	border-collapse: collapse;
	font-size: 0.8em;
	table-layout: fixed;
	thead {
		background:#efefef
	}
	tbody tr{
		background-color:#f5f5f5
	}
}


// 字体修改
h1, h2, h3, h4, h5, h6 {
    font-family: 'Asap','Domine', 'STKaiti', 'KaiTi', 'SimKai', 'Noto Serif SC', sans-serif;
}
body {
    font-family: 'Roboto', "Noto Serif SC", sans-serif;
}

blockquote {
    font-family: 'Roboto', 'STKaiti', 'KaiTi', 'SimKai', 'Noto Serif SC', sans-serif;
}
pre, code {
    font-size: 0.8em;
    font-family: 'Roboto Mono', 'Source Code Pro', consolas, Menlo, "Noto Serif SC", monospace;
}
.post-body {
    font-family: 'EB Garamond', "Noto Serif SC", sans-serif;
	color: #1e1f1c;
}
.post-body h1, h2, h3, h4, h5, h6 {
    color: #683f2a;
}
.post-title {
	color: #683f2a;
}
.post-title .post-title-link {
	color: #683f2a;
}
.posts-expand .post-meta {
    font-family: 'Asap', "Noto Serif SC", sans-serif;
}
.site-subtitle{
    font-family: 'EB Garamond', 'STKaiti', 'KaiTi', 'SimKai', 'Noto Serif SC'
}

